@model IEnumerable<Pulse.Models.ImageModel>

@{
    ViewBag.Title = "ListImages";
}

<h2>Images</h2>

@{int count = 0; }
<p allign>
    <button type="button" onclick="downloadSelected()" style="float:right"> Download Selected</button>

</p>
<table class="table">
    <tr>
        <th>File Name</th>
        <th> Image </th>
        <th>Date Converted</th>
        <th>Download</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>
                <div id="@("T" + count)">
                    @Html.DisplayFor(modelItem => item.Title, new { id = "T" + count })
                </div>
            </td>
            <td>
                <button type="button" onclick="toggleImage(@count)">Show Image <span>@count</span></button>
                <img src="data:image/jpeg;base64,@Html.DisplayFor(modelItem => item.ImageText)"
                     id=@count
                     style="display: none;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateConverted)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.isSelected, new { id = "CB" + count })
            </td>
        </tr>
    }

</table>
<h1>Upload File</h1>
<div>

        <input type="file" id="newImage" />
        <div id="errorMessage" style="display:none; color:red">
            <sup>*Error Message</sup>

        </div>
    <button type="button" onclick="uploadImage()" style="float:right"> Upload</button>



</div>

@section Scripts{
    <script type="text/javascript">
        function toggleImage(id) {
            var img = document.getElementById(id);
            img.style.display = img.style.display == "none" ? "block" : "none";
        }

    </script>

    <script type="text/javascript">
        function uploadImage() {
            var file = document.getElementById("newImage").files[0];
            console.log(file.size);
            if (file.size / 1024 / 1024 >= 5)
            {
                var errorMessage = document.getElementById("errorMessage");
                errorMessage.style.display = "";
                errorMessage.innerText = "File must be under 5MB";
                return;
            }

            var data = new FormData;
            data.append("ImageFile", file);
            $.ajax
                ({
                    type: "Post",
                    url: "/Home/ImageUpload",
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response == 0) {
                            window.location.reload(true);
                            return false;
                        }
                        var message = "";
                        if (response == 1)
                            message = "No File Found";
                        else if (response == 2)
                            message = "File name must be under 100 characters";
                        else
                            message = "File must be under 5MB";
                        var errorMessage = document.getElementById("ErrorMessage");
                        errorMessage.style.display = none;
                        errorMessage.innerText = message;
    
                    }

                })
        }

        //zips up selected text versions of the images as requested
        function downloadSelected()
        {
            var zip = new JSZip();

            for (let i = 1; i<= 10; i++)
            {
                if (document.getElementById("CB"+i).checked)
                {
                    var title = "";
                    title += document.getElementById("T" + i).innerText + ".txt";
                    console.log(title);
                    zip.file(title, document.getElementById(i).src);
                }
            }
            zip.generateAsync({ type: 'blob' }).then(function (content) {
            saveAs(content, 'download.zip');
            });

        }

    </script>
}